<div *ngIf="animal" class="details">
    <h2>{{ animal.type }} {{ animal.name }}</h2>
    <p>Id: {{ animal.id }}</p>
    <p>Цвет: {{ animal.color }}</p>
    <p>Возраcт: {{ animal.age }}</p>
    <p>Пол: {{ animal.gender }}</p>
    <button (click)="sendInfo(animal.name)">Отправить информацию</button>
</div>
