<div class="">
    <ul class="animals">
        <div *ngFor="let animal of animals">
            <li>
                <a routerLink="/pet/{{ animal.id }}">
                    <span>{{ animal.type }} {{ animal.name }}</span>
                </a>
                <button class="delete" title="delete animal" (click)="delete(animal)">x</button>
            </li>
        </div>
        <ng-template #formContainer></ng-template>
        <div>
            <button *ngIf="isModalShow" class="toggle-btn" (click)="closeDialog()">Закрыть</button>
            <button *ngIf="!isModalShow" class="toggle-btn" (click)="createComponent()">Добавить</button>
        </div>
    </ul>
</div>
