<div class="">
    <ul class="animals">
        <div *ngFor="let animal of animals">
            <li>
                <a routerLink="/pet/{{ animal.id }}">
                    <span>{{ animal.type }} {{ animal.name }}</span>
                </a>
                <button
                    class="delete"
                    title="delete animal"
                    (click)="delete(animal)"
                >
                    x
                </button>
            </li>
        </div>
        <div>
            <a routerLink="/add">
                <button id="add-button" class="toggle-btn">Добавить</button>
            </a>
        </div>
    </ul>
</div>
