/* HeroesComponent's private CSS styles */
.wrapper {
    text-align: center;
}

.toggle-btn {
    font-size: 20px;
    background-color: rgb(101, 82, 206);
    border-radius: 4px;
    padding: 4px;
    border: none;
    height: 3em;
    color: #eee;
}

.toggle-btn:hover {
    background-color: rgb(79, 62, 172);
}
.animals {
    list-style-type: none;
    padding: 0;
    width: 350px;
    margin: 0 auto;
    font-size: 20px;
}
.animals li {
    cursor: pointer;
    position: relative;
    background-color: #eee;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 4px;
}
.animals li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
}
.animals li:active {
    background-color: rgb(101, 82, 206);
    color: #fafafa;
}
.animals li.selected {
    background-color: rgb(86, 68, 189);
    color: white;
}
.animals li.selected:hover {
    background-color: rgb(88, 79, 136);
    color: white;
}
.animals li.selected:active {
    background-color: rgb(88, 79, 136);
    color: white;
}
