* {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #eceef0;
}
p {
    margin: 4px;
}
.display-city {
    font-weight: 600;
}

input {
    background-color: #4978a1;
    border: none;
    padding: 8px;
    border-radius: 15px;
}

::placeholder {
    color: #bebebe;
}

button {
    background-color: #325573;
    border: none;
}

.wrapper {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #1f4568;
    height: 500px;
}

.search-bar {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 1000px;
    text-align: center;
    background-color: #325573;
    border-radius: 10px;
}

.weather-wrapper {
    display: flex;
    flex-direction: column;
}

.temp-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #325573;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hourly-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 10px;
}

.temp {
    font-size: 40px;
    font-weight: bold;
}

.temp-block {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.condition-block {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-wrapper {
    width: 100px;
}

.weather-card {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #325573;
    border-radius: 10px;
    max-width: 250px;
}

.weather-card-time {
    margin-top: 10px;
}
