:root {
    --max-width: 1440px;
    --white: #ffffff;
    --dark-blue: #06003b;
    --red: #a80505;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: var(--max-width);
}

.bg-image {
    background-image: url("/assets/img/bmw.jpg");
    background-position: center;
    background-size: cover;
    height: 660px;
    border-bottom: 5px solid #d1d1d1;
}

header {
    padding-top: 40px;
}

.logo {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 300;
}

.header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    margin-right: 15px;
}

.nav-btn {
    margin-left: 20px;
    color: var(--white);
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 4px 2px 4px 5px;
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: var(--dark-blue);
}

button {
    border: none;
}

.sell-section {
    margin-top: 100px;
}

.sell-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sell-text {
    width: 600px;
}

.sell-text p {
    padding-top: 30px;
    font-weight: 400;
    color: var(--white);
    font-size: 20px;
}

.sell-text > h1 {
    margin: 0;
}

.sell-text-blue {
    letter-spacing: 8px;
    font-size: 2.8rem;
    color: var(--dark-blue);
}

.sell-text-white {
    letter-spacing: 8px;
    font-size: 2.8rem;
    color: var(--white);
}

.card {
    width: 350px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 17px 12px 7px -5px rgba(32, 38, 43, 0.2);
    -moz-box-shadow: 17px 12px 7px -5px rgba(32, 38, 43, 0.2);
    box-shadow: 17px 12px 7px -5px rgba(32, 38, 43, 0.2);
    margin-right: 100px;
}

.card-header {
    text-align: center;
}

.card-header > h3 {
    color: var(--dark-blue);
    margin: 0;
    padding: 5px 0 8px 0;
}

.send-form p {
    font-size: 0.75rem;
    margin: 0 0 10px 0;
}

.send-form p span {
    font-size: 0.75rem;
    color: var(--red);
}

input {
    padding: 7px;
    width: 340px;
    height: 30px;
    margin: 0 0 10px 0;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: #d1d1d1;
}

.error {
    border: 1px solid red;
}

.valid {
    border: 1px solid green;
}

textarea {
    width: 340px;
    border: none;
    border-radius: 5px;
    background-color: #d1d1d1;
    font-size: 0.7rem;
    padding: 7px;

    resize: none;
}

.checkbox {
    text-align: start;
}

.checkbox > span {
    font-size: 0.7rem;
}

.send-btn {
    text-align: center;
    margin-top: 15px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.send-btn:hover {
    background-color: var(--dark-blue);
}

.notActive {
    opacity: 0.5;
    pointer-events: none;
}

.services-title {
    margin-top: 30px;
}

.services-title span {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 8px;
}
.red-title {
    color: var(--red);
    font-size: 2.5rem;
}

.blue-title {
    margin-left: 15px;
    color: var(--dark-blue);
    font-size: 2.5rem;
}

.services-cards {
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-card {
    width: 250px;
    text-align: center;
    transition: all 0.3s ease;
}

.service-card:hover {
    transform: scale(1.1);
}

.card-img {
    height: 200px;
}

.story {
    background-color: var(--dark-blue);
}

.story-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 35px 0;
}

.story-container > span {
    font-weight: 200;
    width: 1000px;

    color: var(--white);
}

.story-btn {
    background-color: var(--red);
    color: var(--white);
    width: 300px;
    height: 65px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.story-btn:hover {
    background-color: var(--white);
    color: var(--red);
}

.prices {
    background-color: #d1d1d1;
    padding-top: 30px;
}

.prices-title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--dark-blue);
}

.prices-container {
    display: flex;
    justify-content: space-between;
}

.price-card {
    background-color: var(--white);
    width: 30%;
    text-align: center;
    height: 550px;
    position: relative;
    transition: all 0.3s ease;
}

.price-card:hover {
    transform: scale(1.1);
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid var(--red);
    border-right: 100px solid transparent;
}

.popular {
    position: relative;
    top: -40px;
    left: 5px;
    transform: rotate(-45deg);
}

.popular span {
    font-size: 0.85rem;
}

.price-card h3 {
    font-weight: 400;
}

.price-card h1 {
    font-size: 2.2rem;
    color: var(--red);
}

.price-card button {
    width: 60%;
    height: 10%;
    color: var(--white);
    border-radius: 5px;
}

.blue-btn {
    background-color: var(--dark-blue);
    transition: all 0.3s ease;
}

.blue-btn:hover {
    background-color: var(--red);
}

.red-btn {
    background-color: var(--red);
    transition: all 0.3s ease;
}

.red-btn:hover {
    background-color: var(--dark-blue);
}

.test-gallery {
    margin-top: 40px;
}

.tg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tml-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.tml-text {
    max-width: 550px;
    padding-left: 20px;
}

.tml-text-2 {
    max-width: 550px;
    background-color: #d1d1d1;
    padding-left: 20px;
    padding-bottom: 20px;
}

.tml-text > span {
    font-weight: 300;
}

.tml-text-2 > span {
    font-weight: 300;
}

.profile-pic {
    width: 150px;
}

.gallery {
    max-width: 600px;
    position: relative;
}

.gallery-img1 {
    width: 300px;
    position: absolute;
    top: 0;
    right: 100px;
}

.gallery-img2 {
    width: 350px;
    position: absolute;
    top: 50px;
    left: 180px;
    z-index: 2;
}

.gallery-img3 {
    width: 300px;
    position: absolute;
    top: 250px;
    right: 200px;
    z-index: 1;
}

.gallery-img4 {
    width: 350px;
    position: absolute;
    top: 70px;
    right: 350px;
}
.gallery-img5 {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 50px;
}

footer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-container {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

.footer-text p {
    margin-top: 25px;
    font-size: 0.7rem;
    font-weight: 300;
}

.footer-text > p > span {
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--red);
}
