<div class="wrapper">
    <h1>Pet Application</h1>
    <h2>Pets</h2>
    <ul class="animals">
        <li
            *ngFor="let animal of animals"
            [class.selected]="animal === selectedAnimal"
            (click)="onSelect(animal)"
        >
            <span>{{ animal.type }} {{ animal.name }}</span>
        </li>
    </ul>
    <button
        *ngIf="!hiddenCats"
        class="toggle-btn"
        (click)="getFilteredAnimals()"
    >
        Спрятать котиков
    </button>
    <button *ngIf="hiddenCats" class="toggle-btn" (click)="getAnimals()">
        Показать котиков
    </button>
    <app-animal-details
        [animal]="selectedAnimal"
        (animalInfoEvent)="logInfo($event)"
    ></app-animal-details>
</div>
