@fontSize: 20px;
@color: rgb(101, 82, 206);
@hoverColor: rgb(79, 62, 172);
@mainRadius: 4px;

.selected {
    background-color: @color;
    color: #eee;
}

.wrapper {
    text-align: center;
}

.toggle-btn {
    font-size: @fontSize;
    background-color: @color;
    border-radius: @mainRadius;
    padding: 4px;
    border: none;
    height: 3em;
    color: #eee;

    &:hover {
        background-color: @hoverColor;
    }
}

.animals {
    list-style-type: none;
    padding: 0;
    width: 350px;
    margin: 0 auto;
    font-size: @fontSize;

    li {
        cursor: pointer;
        position: relative;
        background-color: #eee;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: @mainRadius;

        &:hover {
            background-color: #e6e6e6;
        }

        &:active {
            .selected();
        }

        &.selected {
            .selected();
        }
    }
}
