* {
    font-size: 30px;
    color: white;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    padding: 20px;
    width: 300px;
}

.calc-container {
    margin: auto;
    width: 650px;
    display: flex;
    background-color: black;
    border-radius: 3%;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(80, 80, 80);
    color: aliceblue;
    transition: all 0.3s ease;
}

button:hover {
    opacity: 0.6;
}

.button-white {
    background-color: rgb(187, 187, 187);
    color: black;
}

.button-orange {
    background-color: rgb(228, 169, 91);
}

input {
    width: 100%;
    height: 100px;
    text-align: right;
    border: none;
    background-color: black;
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 40px;
}

.history {
    text-align: center;
    width: 300px;
    color: aliceblue;
}

.history h1 {
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
