<div *ngIf="animalForm">
    <div class="details">
        <h2>
            {{ animal?.type }}
            {{ animal?.name }}
        </h2>

        <h2>ID: {{ animal?.id }}</h2>
        <form class="form" [formGroup]="animalForm" (ngSubmit)="onSubmit()" *ngIf="animalForm">
            <div class="property">
                <p>Имя:</p>
                <input id="animal-name" type="text" formControlName="name" required />
                <div *ngIf="name.invalid" class="error-message">
                    <div *ngIf="name.errors?.['required']">Введите имя.</div>
                    <div *ngIf="name.errors?.['minlength']">Минимальная длина 3 символа.</div>
                    <div *ngIf="name.errors?.['maxlength']">Максимальная длина 10 символов.</div>
                </div>
            </div>

            <div class="property">
                <p>Вид:</p>
                <input id="animal-type" type="text" formControlName="type" required />
            </div>

            <div>
                <p>Цвет:</p>
                <input id="animal-color" type="text" formControlName="color" required />
                <div *ngIf="color.invalid" class="error-message">
                    <div *ngIf="color.errors?.['required']">Введите цвет.</div>
                </div>
            </div>
            <div>
                <p>Возраcт:</p>
                <input id="animal-age" type="text" formControlName="age" required />
                <div *ngIf="age.invalid" class="error-message">
                    <div *ngIf="age.errors?.['required']">Введите возраст.</div>
                    <div *ngIf="age.errors?.['minlength']">Минимальная длина 1 символ.</div>
                    <div *ngIf="age.errors?.['maxlength']">Максимальная длина 2 символа.</div>
                </div>
            </div>
            <div>
                <p>Пол:</p>
                <input id="animal-Gender" type="text" formControlName="gender" />
            </div>
            <div class="button-wrapper">
                <button (click)="save()">Сохранить</button>
            </div>
        </form>
    </div>
    <button class="back-btn" (click)="goBack()">Назад</button>
</div>
